
<!--
<table>
  <th>LIST OF POWERS</th>
<tr ng-repeat="hero in ahlc.heroesList">
  <td>{{hero.name}}</td>

  </tr>
</table> -->

<br>
<br>
<br>

    <form class="form" ng-submit="tracker.addHero()">
        <label >persona
          <input type="text"  ng-model="ahlc.newHero.persona" />
        </label>

        <label >alias
          <input type="text"  ng-model="ahlc.newHero.alias" />
        </label>

        <label >super Power NUMBER
          <input type="text"ng-model="ahlc.newHero.power_id"/>
        </label>


        <button class="btn" "btn-default" ng-click="ahlc.addHero()">Click here to add a new Hero!</button>
      </form>
