<p>This should show a list of all heroes in the system, displaying all the information from the entry captured in the view before.
    Each hero in the listing needs to be able to be deleted from the system in the event of their unfortunate demise.</p>




<br>
<br>
<br>
<br>


    <table class="table-striped">
      <tr>


      <th>Persona</th>
      <th>alias</th>
      <th>superpowers</th>
      </tr>






      <tbody>
        <tr ng-repeat="hero in hlc.heroesList">

          <td>  <input ng-model="hero.persona"/></td>
          <td><input ng-model="hero.alias"/></td>
          <td>{{hero.power_id}}</td>
            <td>{{hero.name}}</td>
          <td>{{hero.description}}</td>
          <td> <button ng-click="hlc.deleteHero(hero.id)">kill this hero???? </button></td>
                <td><button ng-click="hlc.updateHero(hero)">Update the hero</button></td>
        </tr>
      </tbody>
  </table>
